#Telosys plugin properties
#Mon Oct 07 12:33:43 CEST 2013
WEB=src/main/webapp
ENTITY_PKG=j2ee.association.bean
TEST_SRC=src/test/java
RES=src/main/resources
DOC=doc
DownloadsFolder=TelosysTools/downloads
TemplatesFolder=TelosysTools/templates
ROOT_PKG=j2ee.association
LibrariesFolder=TelosysTools/lib
SRC=src/main/java
RepositoriesFolder=TelosysTools/repos
TEST_RES=src/test/resources
TMP=tmp
