#Telosys plugin properties
#Thu Oct 03 13:23:55 CEST 2013
WEB=src/main/webapp
ENTITY_PKG=org.demo.bean
TEST_SRC=src/test/java
RES=src/main/resources
DOC=doc
DownloadsFolder=TelosysTools/downloads
TemplatesFolder=TelosysTools/templates
ROOT_PKG=org.demo
LibrariesFolder=TelosysTools/lib
SRC=src/main/java
RepositoriesFolder=TelosysTools/repos
TEST_RES=src/test/resources
TMP=tmp
