<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>J2EE-Association</display-name>
	<servlet>
		<description>
		</description>
		<display-name>IndexServlet</display-name>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>j2ee.association.modele.servlets.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CatalogueServlet</display-name>
		<servlet-name>CatalogueServlet</servlet-name>
		<servlet-class>j2ee.association.modele.servlets.CatalogueServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CommandeServlet</display-name>
		<servlet-name>CommandeServlet</servlet-name>
		<servlet-class>j2ee.association.modele.servlets.CommandeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IdentificationServlet</display-name>
		<servlet-name>IdentificationServlet</servlet-name>
		<servlet-class>j2ee.association.modele.servlets.IdentificationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EnregistrementServlet</display-name>
		<servlet-name>EnregistrementServlet</servlet-name>
		<servlet-class>j2ee.association.modele.servlets.EnregistrementServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeconnexionServlet</display-name>
		<servlet-name>DeconnexionServlet</servlet-name>
		<servlet-class>j2ee.association.modele.servlets.DeconnexionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CatalogueServlet</servlet-name>
		<url-pattern>/catalogue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommandeServlet</servlet-name>
		<url-pattern>/commande</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IdentificationServlet</servlet-name>
		<url-pattern>/identification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnregistrementServlet</servlet-name>
		<url-pattern>/enregistrement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeconnexionServlet</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
